body {
	background: black;
	font-family: sans-serif;
	color: #fff;
}
.navbar-header {
	background: green;
	width:100%;
	height: 128px;
	text-align: center;
	border: 2px white solid;
	line-height: 128px;
	font-size: 5em;
}

.navbar {
	display: flex;
	width:100%;
	background: gray;
	border: 2px white solid;
	justify-content: space-evenly;
}